.dash-form-container {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
      flex-wrap: wrap;
}

.dash-form-input {
      height: 5vh;
      width: 50vw;
      background: var(--white);
      font-size: 1.5vw;
      color: var(--navy-med);
      padding: 5px;
      border-radius: 10px 10px 10px 10px;
      border: 3px ridge var(--silver);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}

::placeholder {
      color: var(--navy-med);
}

.dash-btn {
      box-sizing: border-box;
      background: var(--navy-med);
      color: var(--white);
      padding: 5px;
      cursor: pointer;
      border-radius: 10px 10px 10px 10px;
      border: 3px ridge var(--silver);
      height: 5vh;
      width: 10vw;
}

.dash-btn:disabled {
      background: var(--silver);
      cursor: not-allowed;
      border: 1px ridge var(--navy-med);
}

.dash-form-btn {
      height: 5vh;
      width: 10vw;
      font-size: 1.3vw;
      cursor: default;
}

.dash-fav-btn {
      height: 5vh;
      font-size: 1vw;
      margin-left: 30vw;
      margin-bottom: 3vw;
      width: 15vw;
}

.dash-fav-btn:hover {
      background: var(--gold);
      color: var(--blue);
}

.dash-cards-wrapper {
      display: flex;
      justify-content: center;
      border-color: var(--silver);
      border-radius: 10px;
      border: 4px ridge var(--silver);
      margin: 25px;
      margin-top: 10vh;
      flex-wrap: wrap;
      filter: drop-shadow(2px 4px 6px var(--black));
}

.dash-cards-wrapper-disabled {
      filter: opacity(0.1);
}

.dash-location-wrapper {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 2vh;
}

.dash-description {
      margin-top: 80px;
      font-size: 2vw;
      width: 70vw;
      text-align: center;
      word-wrap: break-word;
      margin: auto;
      text-transform: capitalize;
}

.dash-cards-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      flex-wrap: wrap;
      margin-top: 100px;
}

.dash-hidden {
      display: none;
}

.dash-radio-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
}

.dash-loader {
      display: flex;
      justify-content: center;
      z-index: 3;
      position: relative;
}

.dash-heart-icon {
      height: 3.5vh;
}

.dash-suggestion-container {
      display: flex;
      justify-content: center;
      z-index: 2;
      background: var(--white);
      position: fixed;
      width: -webkit-fill-available;
      margin-left: 21vw;
      margin-right: 31vw;
      border-radius: 10px;
}

.dash-ul {
      list-style-type: none
}

.dash-suggestion {
      cursor: pointer;
      height: 3vh;
      width: 30vw;
      font-size: 1.5vw;
      text-align: left;
}

.dash-suggestion:hover {
      background-color: var(--silver);
}